
html {
    font-size: 100%;
 }
 
 body {
     overflow-x: hidden;
 }
 
 a {
     color: #111;
 }
 
 a:hover {
     color: #111;
 }
 
 pre {
     margin-bottom: 0;
 }
 
 figure {
    margin: 0;
    padding: 0;
 }
 .resize {
   max-width:50%;
   max-height:50%;
 }
 figure > img {
    width: 100%;
    border-radius: 0.2rem;
 }
 
 .dots {
     background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC") repeat;
 }
 
 #original-doge {
    max-width: 10vw;
 }
 header,
 footer {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding-top: 1rem;
 }
 
 nav ul {
     padding: 0;
     list-style-type: none;
 }
 
 nav ul > li {
     display: inline-block;
     padding: 0 2rem;
 }
 
 main {
     min-height: 100vh;
     padding: 5rem 0;
     background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAJElEQVQYlWNgwAT/sYjhVIRXMbokVsW4TPhPjCJi5clXTBwAAOy+CfekNMf3AAAAAElFTkSuQmCC") repeat;
 }
 
 main [class*='col-'] {
     margin: 3rem;
     background-color: #FEFEFE;
 }
 
 footer {
     padding-bottom: 0.5rem;
 }