.vertical-menu {
    width: 200px; /* Set a width if you like */
  }
  
  .vertical-menu a {
    background-color: transparent; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }

  .vertical-menu a:hover {
    background-color: #ccc; 
  }
  
